# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name
print('Hamza Patwa')

Hamza Patwa

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
df = pd.read_csv('../data/listings.csv')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [4]:
# 1. How many listings are there with a price less than 100?
select_condition = df['price'] < 100
print(f"Number of listings with price less than $100: {len(df[select_condition])}")

Number of listings with price less than $100: 22778

In [5]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk`
# and find how many listings in just Brooklyn.
df_bk = df[df['neighbourhood_group'] == 'Brooklyn']
print(f"Number of listings in Brooklyn: {len(df_bk)}")

Number of listings in Brooklyn: 18632

In [6]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
bk_under_100 = df_bk[df_bk['price'] < 100]
print(f"Number of listings in Brooklyn under $100: {len(bk_under_100)}")

Number of listings in Brooklyn under $100: 10473

In [7]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
host_names = ['Michael', 'David', 'John', 'Daniel']
host_filter = df[df['host_name'].isin(host_names)]
print(f"Number of listings with hosts named {', '.join(host_names)}: {len(host_filter)}")

# Show distribution of these names
print("\nDistribution by host name:")
print(host_filter['host_name'].value_counts())

Number of listings with hosts named Michael, David, John, Daniel: 1258

Distribution by host name:
host_name
Michael    387
David      348
John       270
Daniel     253
Name: count, dtype: int64

In [8]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.
# The prices for all other listings should be the same as they were before.
df['adjusted_price'] = df['price']
df.loc[df['neighbourhood'] == 'Williamsburg', 'adjusted_price'] += 100

# Verify the changes
williamsburg_check = df[df['neighbourhood'] == 'Williamsburg'].head()
print("Sample of Williamsburg listings with original and adjusted prices:")
print(williamsburg_check[['neighbourhood', 'price', 'adjusted_price']])

Sample of Williamsburg listings with original and adjusted prices:
   neighbourhood  price  adjusted_price
11  Williamsburg    109             209
15  Williamsburg    299             399
35  Williamsburg    131             231
38  Williamsburg    175             275
42  Williamsburg     80             180

In [9]:
# 6. What % of the rooms are private, and what % of the rooms are shared.
room_type_counts = df['room_type'].value_counts()
room_type_percentages = (room_type_counts / len(df) * 100).round(2)

print("Room type distribution:")
for room_type, percentage in room_type_percentages.items():
    print(f"{room_type}: {percentage}%")

Room type distribution:
Entire home/apt: 51.58%
Private room: 45.44%
Shared room: 2.12%
Hotel room: 0.86%

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [10]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
neighbourhood_counts = df.groupby('neighbourhood_group').size()
print("Number of listings in each neighbourhood group:")
print(neighbourhood_counts)

Number of listings in each neighbourhood group:
neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [11]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups.
mean_prices = df.groupby('neighbourhood_group')['price'].mean().round(2)
print("Average price by neighbourhood group:")
print(mean_prices)

Average price by neighbourhood group:
neighbourhood_group
Bronx             92.75
Brooklyn         120.23
Manhattan        191.88
Queens            99.75
Staten Island    110.95
Name: price, dtype: float64

In [12]:
# 2.5. Using `groupby`, find the mean price for each room_type.
room_type_means = df.groupby('room_type')['price'].mean().round(2)
print("Average price by room type:")
print(room_type_means)

Average price by room type:
room_type
Entire home/apt    199.40
Hotel room         275.02
Private room        91.45
Shared room         87.06
Name: price, dtype: float64

In [13]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups.
price_stats = df.groupby('neighbourhood_group')['price'].agg(['min', 'max'])
print("Price ranges by neighbourhood group:")
print(price_stats)

Price ranges by neighbourhood group:
                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [14]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
room_neighborhood_means = df.groupby(['neighbourhood_group', 'room_type'])['price'].mean().round(2)
print("Average price by neighbourhood group and room type:")
print(room_neighborhood_means)

# Optional: prettier display using unstack
print("\nAlternative view (as table):")
print(room_neighborhood_means.unstack())

Average price by neighbourhood group and room type:
neighbourhood_group  room_type
Bronx                Entire home/apt    138.00
                     Private room        68.42
                     Shared room         66.39
Brooklyn             Entire home/apt    171.59
                     Hotel room         147.30
                     Private room        71.29
                     Shared room         57.87
Manhattan            Entire home/apt    231.34
                     Hotel room         292.52
                     Private room       128.28
                     Shared room        111.74
Queens               Entire home/apt    150.17
                     Hotel room         139.06
                     Private room        69.97
                     Shared room         89.89
Staten Island        Entire home/apt    151.72
                     Private room        70.31
                     Shared room         46.00
Name: price, dtype: float64

Alternative view (as table):
room_type            Entire home/apt  Hotel room  Private room  Shared room
neighbourhood_group
Bronx                         138.00         NaN         68.42        66.39
Brooklyn                      171.59      147.30         71.29        57.87
Manhattan                     231.34      292.52        128.28       111.74
Queens                        150.17      139.06         69.97        89.89
Staten Island                 151.72         NaN         70.31        46.00

In [15]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices
# for each room type in each neighbourhood_group.
detailed_stats = df.groupby(['neighbourhood_group', 'room_type'])['price'].agg([
    'count',
    'min',
    'max',
    'mean',
    lambda x: x.median(),  # median
    'std'
]).round(2)

# Rename the lambda function column to 'median'
detailed_stats = detailed_stats.rename(columns={'<lambda>': 'median'})

print("Detailed statistics by neighbourhood group and room type:")
print(detailed_stats)

Detailed statistics by neighbourhood group and room type:
                                     count  min    max    mean  <lambda_0>  \
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.00       103.0
                    Private room       722   16    700   68.42        55.0
                    Shared room         46   20    800   66.39        44.0
Brooklyn            Entire home/apt   9112   20  10000  171.59       135.0
                    Hotel room          30    0    399  147.30       129.0
                    Private room      9159   10   2500   71.29        60.0
                    Shared room        331   15   1500   57.87        36.0
Manhattan           Entire home/apt  12209    0  10000  231.34       165.0
                    Hotel room         351    0   2211  292.52       210.0
                    Private room      7601   10  10000  128.28        80.0
                    Shared room        419   10  10000  111.74        60.0
Queens              Entire home/apt   2090   10  10000  150.17       115.0
                    Hotel room          17    0    249  139.06       149.0
                    Private room      3499   18   9000   69.97        55.0
                    Shared room        185   14   3000   89.89        40.0
Staten Island       Entire home/apt    172   39   1200  151.72       111.0
                    Private room       163   20    800   70.31        55.0
                    Shared room          6   19     82   46.00        38.0

                                        std
neighbourhood_group room_type
Bronx               Entire home/apt  126.03
                    Private room      57.34
                    Shared room      114.44
Brooklyn            Entire home/apt  236.73
                    Hotel room        91.15
                    Private room      69.02
                    Shared room       92.22
Manhattan           Entire home/apt  410.31
                    Hotel room       315.92
                    Private room     448.68
                    Shared room      502.73
Queens              Entire home/apt  252.61
                    Hotel room        50.74
                    Private room     163.81
                    Shared room      275.68
Staten Island       Entire home/apt  147.52
                    Private room      70.76
                    Shared room       28.45

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [18]:
# 1. Load the `prices.csv` and the `n_listings.csv`
df_prices = pd.read_csv('../data/prices.csv')
n_listings_df = pd.read_csv('../data/n_listings.csv')

print("Prices DataFrame:")
print(df_prices.head())
print("\nListings DataFrame:")
print(n_listings_df.head())

Prices DataFrame:
  neighbourhood_group   mean_price
0               Bronx    92.751479
1            Brooklyn   120.225258
2           Manhattan   191.880466
3              Queens    99.754965
4       Staten Island   110.947214

Listings DataFrame:
  neighbourhood_group;n_listings
0                     Bronx;1183
1                 Brooklyn;18632
2                Manhattan;20580
3                LongIsland;4121

In [ ]:
# 2. Do join that keeps all the records for each table.
df_listings = pd.read_csv("../data/n_listings.csv", sep=';')
df_merged = pd.merge(df_prices, df_listings, on='neighbourhood_group', how='outer')
df_merged.head()

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN

In [ ]:
# 3. Save your joined csv as `joined.csv` into the data folder.
joined_df.to_csv('../data/joined.csv', index=False)
print("File saved as 'joined.csv' in the data folder")

File saved as 'joined.csv' in the data folder

In [ ]:
# 4. Load your newly saved file, see if it looks the same.
loaded_df = pd.read_csv('../data/joined.csv')

print("Loaded DataFrame from joined.csv:")
print(loaded_df)

# Compare with original joined dataframe
print("\nAre the dataframes identical?")
print(loaded_df.equals(joined_df))

Loaded DataFrame from joined.csv:
      neighbourhood_group   mean_price        id  \
0                   Bronx    92.751479     44096
1                   Bronx    92.751479     45935
2                   Bronx    92.751479     54626
3                   Bronx    92.751479     63588
4                   Bronx    92.751479     63610
...                   ...          ...       ...
46522       Staten Island   110.947214  44288244
46523       Staten Island   110.947214  44322571
46524       Staten Island   110.947214  44322911
46525       Staten Island   110.947214  44415969
46526       Staten Island   110.947214  44574046

                                                    name    host_id  \
0                                       Room with a View     190409
1                           Room in Beautiful Townhouse.     204586
2                         Cozy bedroom by Yankee Stadium     190409
3                                                    LL3     295128
4      DOMINIQUE'S NY mini efficiency pad* SANITIZED*...     310670
...                                                  ...        ...
46522                   Huge Private Room/Suite @ Ferry.  117492425
46523                                  Rosebank Townhome  299411542
46524                                       Oakwood Room  299411542
46525                          Style Home away from home  121399223
46526                                Home away from home  356621108

             host_name  neighbourhood  latitude  longitude        room_type  \
0             Waundell     Highbridge  40.83232  -73.93184     Private room
1                    L    Port Morris  40.80640  -73.92395     Private room
2             Waundell     Highbridge  40.83075  -73.93058     Private room
3         Carol Gloria   Clason Point  40.81309  -73.85514     Private room
4                  Vie    Eastchester  40.88100  -73.83511  Entire home/apt
...                ...            ...       ...        ...              ...
46522             Dine     St. George  40.64602  -74.07896     Private room
46523            Karen        Clifton  40.61847  -74.06974     Private room
46524            Karen        Oakwood  40.56436  -74.13019     Private room
46525  Weifeng(Daniel)  Tompkinsville  40.63380  -74.08298  Entire home/apt
46526           Andrew   Howland Hook  40.63348  -74.16950  Entire home/apt

       price  minimum_nights  number_of_reviews last_review  \
0         50               1                277  2020-02-25
1         60               3                  0         NaN
2         55               1                181  2020-03-06
3         89               2                  0         NaN
4        102               2                 44  2020-06-28
...      ...             ...                ...         ...
46522     49               4                  0         NaN
46523    300               1                  0         NaN
46524    150               1                  0         NaN
46525    160               1                  1  2020-08-02
46526    250               1                  0         NaN

       reviews_per_month  calculated_host_listings_count  availability_365  \
0                   2.29                               3               364
1                    NaN                               1                83
2                   1.66                               3               364
3                    NaN                               7               270
4                   0.49                               9               363
...                  ...                             ...               ...
46522                NaN                               8               365
46523                NaN                               2               179
46524                NaN                               2               179
46525               1.00                               3               365
46526                NaN                               1                14

       new_price
0           5000
1           6000
2           5500
3           8900
4          10200
...          ...
46522       4900
46523      30000
46524      15000
46525      16000
46526      25000

[46527 rows x 18 columns]

Are the dataframes identical?
True

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [ ]:
# Load the Grammy's dataset
grammys_df = pd.read_csv('../data/grammys.csv')

# Display the first few rows to understand the structure
print("First few rows of the Grammy's dataset:")
print(grammys_df.head())

# Display column names to understand what we're working with
print("\nColumn names:")
print(grammys_df.columns.tolist())

First few rows of the Grammy's dataset:
   year                                           category  \
0  1959                                  Album of the Year
1  1959                                   Best Album Cover
2  1959                                   Best Arrangement
3  1959  Best Classical Performance - Chamber Music (in...
4  1959  Best Classical Performance - Instrumentalist (...

                      nominee  \
0  The Music from Peter Gunn.
1             Only the Lonely
2   The Music From Peter Gunn
3      Beethoven: Quartet 130
4      Segovia Golden Jubilee

                                             workers  winner
0                                      Henry Mancini    True
1                       Frank Sinatra (art director)    True
2                    Henry Mancini (artist/arranger)    True
3  The Hollywood String Quartet, Paul Shure (arti...    True
4                                     Andr√©s Segovia    True

Column names:
['year', 'category', 'nominee', 'workers', 'winner']

In [ ]:
# 1. Who won Album of the Year in 2016?
aoty_2016 = grammys_df[
    (grammys_df['year'] == 2016) &
    (grammys_df['category'] == 'Album Of The Year') &
    (grammys_df['winner'] == True)
]

print("Album of the Year winner in 2016:")
print(aoty_2016[['nominee']].iloc[0] if not aoty_2016.empty else "No winner found")

Album of the Year winner in 2016:
No winner found

In [ ]:
# 2. Who won Best Rap Album in 2009?
rap_2009 = grammys_df[
    (grammys_df['year'] == 2009) &
    (grammys_df['category'] == 'Best Rap Album') &
    (grammys_df['winner'] == True)
]

print("Best Rap Album winner in 2009:")
print(rap_2009[['nominee']].iloc[0] if not rap_2009.empty else "No winner found")

Best Rap Album winner in 2009:
nominee    Tha Carter III
Name: 4396, dtype: object

In [ ]:
# 3. How many awards was Kendrick Lamar nominated for, and how many did he win?
kendrick_nominations = grammys_df[grammys_df['nominee'].str.contains('Kendrick Lamar', na=False)]

total_nominations = len(kendrick_nominations)
total_wins = len(kendrick_nominations[kendrick_nominations['winner'] == True])

print(f"Kendrick Lamar statistics:")
print(f"Total nominations: {total_nominations}")
print(f"Total wins: {total_wins}")
print(f"Win rate: {(total_wins/total_nominations*100):.1f}%")

print("\nBreakdown of wins by category:")
wins_by_category = kendrick_nominations[kendrick_nominations['winner'] == True].groupby('category').size()
print(wins_by_category)

Kendrick Lamar statistics:
Total nominations: 2
Total wins: 1
Win rate: 50.0%

Breakdown of wins by category:
category
Best Music Video    1
dtype: int64

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

Error downloading/processing 2022 data: 'utf-8' codec can't decode byte 0xed in position 10: invalid continuation byte
Failed to load 2022 game logs

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.