# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 

print("Juana Wong")

Juana Wong

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
# Load data here

df = pd.read_csv('../data/listings.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [4]:
# 1. How many listings are there with a price less than 100? 

price_condition = df['price'] < 100
listings_with_price_condition = len(df[price_condition])

print("Number of listings with price less than $100 :\n", listings_with_price_condition)

Number of listings with price less than $100 :
 22778

In [5]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

# df_bk = df.where(df.neighbourhood_group == 'Brooklyn')
# -- note to self: .where() retains df's shape, with NaN values where false -- will use additional steps to clean

location_condition = df['neighbourhood_group'] == 'Brooklyn'
df_bk = df[ location_condition ]
listings_in_brooklyn = len(df_bk)

print("Number of listings in Brooklyn :\n", listings_in_brooklyn)

Number of listings in Brooklyn :
 18632

In [6]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

listings_bklyn_100 = len(df[ price_condition & location_condition ])

print("Number of listings in Brooklyn with price less than $100 :\n", listings_bklyn_100)

Number of listings in Brooklyn with price less than $100 :
 10473

In [7]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

select_host_names = ['Michael', 'David', 'John', 'Daniel']
listings_with_select_names = len(df[ df['host_name'].isin(select_host_names) ])

print("Number of listings with select host names :\n", listings_with_select_names)

Number of listings with select host names :
 1258

In [8]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

# first, create adjusted_price column with default price value
df['adjusted_price'] = df['price']

# create condition -- get listings in williamsburg
williamsburg_condition = df['neighbourhood'] == 'Williamsburg'

# locate where, in df, true condition and adj-column => set adj-column to (price + 100)
df.loc[williamsburg_condition, 'adjusted_price'] = df.loc[williamsburg_condition, 'price'] + 100

df.head(20)  # 11, 15 williamsburg-adjusted; others unchanged

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,175
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,75
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,60
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,175
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,65
5,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.89,1,0,75
6,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,140,1,161,2019-07-29,1.21,4,274,140
7,5552,Spacious river view in the West Village,8380,Maria,Manhattan,West Village,40.73552,-74.01042,Entire home/apt,160,3,66,2019-08-10,0.49,1,178,160
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344,88
9,6021,Wonderful Guest Bedroom in Manhattan CENTRAL PARK,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,123,2019-12-09,0.90,1,365,85
10,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,65,30,29,2020-07-25,0.22,1,197,65
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0,209
12,6990,UES Beautiful Blue Room / 2 Bedrooms,16800,Cyn,Manhattan,East Harlem,40.78962,-73.94802,Entire home/apt,239,4,233,2019-12-09,1.77,1,365,239
13,7097,Perfect for Your Parents + Garden; Germ-Free,17571,Jane,Brooklyn,Fort Greene,40.69121,-73.97277,Entire home/apt,182,1,229,2020-07-20,1.78,2,325,182
14,7750,2 Furnished bedrooms next to Central Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Private room,96,14,0,NaN,NaN,2,178,96
15,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,337,399
16,8490,"MAISON DES SIRENES1,bohemian apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.68371,-73.94028,Entire home/apt,120,2,115,2020-08-13,0.86,2,319,120
17,8505,Sunny Bedroom Across Prospect Park,25326,Gregory,Brooklyn,Windsor Terrace,40.65599,-73.97519,Private room,135,1,23,2019-10-14,0.84,2,89,135
18,8700,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Claude & Sophie,Manhattan,Inwood,40.86754,-73.92639,Private room,86,4,0,NaN,NaN,1,0,86
19,9657,Modern 1 BR / NYC / EAST VILLAGE,21904,Dana,Manhattan,East Village,40.72920,-73.98542,Entire home/apt,220,3,33,2019-11-11,0.25,1,90,220

In [9]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

# df['room_type'].value_counts()
# room_type
## Entire home/apt    23998
## Private room       21144
## Shared room          987
## Hotel room           398

df.room_type.value_counts(normalize=True)

room_type
Entire home/apt    0.515787
Private room       0.454446
Shared room        0.021213
Hotel room         0.008554
Name: proportion, dtype: float64

In [10]:
# 6
print("Percentage of rooms (private) : 45.44%")
print("Percentage of rooms (shared) : 2.12%")

Percentage of rooms (private) : 45.44%
Percentage of rooms (shared) : 2.12%

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [11]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

df.groupby('neighbourhood_group')['id'].count()

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
Name: id, dtype: int64

In [12]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

df.groupby('neighbourhood_group')['price'].mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [13]:
# 2.5. Using `groupby`, find the mean price for each room_type. 

df.groupby('room_type')['price'].mean()

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [14]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

df.groupby('neighbourhood_group')['price'].agg(['min', 'max'])

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [15]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

# groupby (list of cols), apply aggregate function
df.groupby(['neighbourhood_group', 'room_type'])['price'].mean()

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [16]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

df.groupby(['neighbourhood_group', 'room_type'])['price'].agg(['count', 'min', 'max', 'mean', 'median', 'std'])

                                     count  min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.004819   103.0
                    Private room       722   16    700   68.419668    55.0
                    Shared room         46   20    800   66.391304    44.0
Brooklyn            Entire home/apt   9112   20  10000  171.587687   135.0
                    Hotel room          30    0    399  147.300000   129.0
                    Private room      9159   10   2500   71.291189    60.0
                    Shared room        331   15   1500   57.870091    36.0
Manhattan           Entire home/apt  12209    0  10000  231.335572   165.0
                    Hotel room         351    0   2211  292.515670   210.0
                    Private room      7601   10  10000  128.277069    80.0
                    Shared room        419   10  10000  111.735084    60.0
Queens              Entire home/apt   2090   10  10000  150.168900   115.0
                    Hotel room          17    0    249  139.058824   149.0
                    Private room      3499   18   9000   69.972564    55.0
                    Shared room        185   14   3000   89.891892    40.0
Staten Island       Entire home/apt    172   39   1200  151.720930   111.0
                    Private room       163   20    800   70.312883    55.0
                    Shared room          6   19     82   46.000000    38.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [17]:
# 1. Load the `prices.csv` and the `n_listings.csv`

prices = pd.read_csv('../data/prices.csv')
prices

  neighbourhood_group   mean_price
0               Bronx    92.751479
1            Brooklyn   120.225258
2           Manhattan   191.880466
3              Queens    99.754965
4       Staten Island   110.947214

In [18]:
# 1
n_listings = pd.read_csv('../data/n_listings.csv', sep=';')
n_listings

  neighbourhood_group  n_listings
0               Bronx        1183
1            Brooklyn       18632
2           Manhattan       20580
3          LongIsland        4121

In [19]:
# 2. Do join that keeps all the records for each table.

# full outer join -- retain data from both tbales
joined_prices_nlistings = pd.merge(prices, n_listings, on='neighbourhood_group', how='outer')
joined_prices_nlistings

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

In [20]:
# 3. Save your joined csv as `joined.csv` into the data folder. 

# saving without index, since both original tables have omitted
joined_prices_nlistings.to_csv('../data/joined.csv', index=False)

In [21]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

joined_csv = pd.read_csv('../data/joined.csv')
joined_csv

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [22]:
# load csv
df = pd.read_csv('../data/grammys.csv')
df.head()

,year,category,nominee,workers,winner
0,1959,Album of the Year,The Music from Peter Gunn.,Henry Mancini,True
1,1959,Best Album Cover,Only the Lonely,Frank Sinatra (art director),True
2,1959,Best Arrangement,The Music From Peter Gunn,Henry Mancini (artist/arranger),True
3,1959,Best Classical Performance - Chamber Music (in...,Beethoven: Quartet 130,"The Hollywood String Quartet, Paul Shure (arti...",True
4,1959,Best Classical Performance - Instrumentalist (...,Segovia Golden Jubilee,Andrés Segovia,True

In [23]:
# 1
album_2016_category = df['category'] == 'Album of the Year'
album_2016_year = df['year'] == 2016
grammy_winner = df['winner'] == True
album_2016 = df[ album_2016_category & album_2016_year & grammy_winner ]
album_2016

,year,category,nominee,workers,winner
5505,2016,Album of the Year,1989.,"Taylor Swift (artist/producer), Jack Antonoff ...",True

In [24]:
# 1. Taylor Swift, Jack Antonoff, ... won 2016, Album of the Year for "1989"

In [25]:
# 2
rap_2009_category = df['category'] == 'Best Rap Album'
rap_2009_year = df['year'] == 2009
rap_2009 = df[ rap_2009_category & rap_2009_year & grammy_winner ]
rap_2009

      year        category         nominee     workers  winner
4396  2009  Best Rap Album  Tha Carter III  Lil' Wayne    True

In [26]:
# 2. Lil' Wayne won 2009, Best Rap Album for "Tha Carter III"

In [27]:
# 3
# kendrick_lamar = df[ df['workers'].isin(['Kendrick Lamar']) == True ]        # finds exact matches for Kendrick Lamar
kendrick_lamar = df[df['workers'].str.contains('Kendrick Lamar', na=False)]    # includes features, other credits, etc.
kendrick_lamar

,year,category,nominee,workers,winner
5269,2014,Best Rap Album,"Good Kid, M.A.A.D City.",Kendrick Lamar,False
5272,2014,Best Rap Performance,Swimming Pools (Drank).,Kendrick Lamar,False
5448,2015,Best Rap Performance,i.,Kendrick Lamar,True
5451,2015,Best Rap Song,i.,"Kendrick Lamar (Songwriter), Rahki (Songwriter)",True
5507,2016,Album of the Year,To Pimp a Butterfly.,"Kendrick Lamar (artist), Bilal (featured artis...",False
5575,2016,Best Music Video,Taylor Swift: Bad Blood,"Taylor Swift (artist), Kendrick Lamar (artist)...",True
5596,2016,Best Rap Album,To Pimp a Butterfly.,Kendrick Lamar,True
5599,2016,Best Rap Performance,Alright.,Kendrick Lamar,True
5602,2016,Best Rap Song,Alright.,"Kendrick Lamar (songwriter), Kawan Prather (so...",True
5604,2016,Best Rap Song,All Day.,"Tyler Bryant (songwriter), Sean 'Diddy' Combs ...",False
5605,2016,Best Rap/Sung Collaboration,These Walls.,"Kendrick Lamar, Bilal (featured artist), Anna ...",True
5654,2017,Album of the Year,Lemonade,"Dave Kutch (mastering engineer), Stuart White ...",False
6000,2018,Best Rap Album,Damn,Kendrick Lamar (artist),True
6003,2018,Best Rap Performance,HUMBLE.,Kendrick Lamar,True
6006,2018,Best Rap Song,Humble,"Mike Will Made It (songwriter), Asheton Hogan ...",True
6009,2018,Best Rap/Sung Performance,LOYALTY.,"Kendrick Lamar, Rihanna",True
6087,2019,Album of the Year,"Black Panther: The Album, Music from and Inspi...",Kendrick Lamar (featured artist/producer/songw...,False
6248,2019,Best Rap Song,Win (Jay Rock),"Jay Rock, Kendrick Lamar, Vinylz, Boi-1da, Cor...",False
6252,2019,Best Rap/Sung Performance,All the Stars,"Kendrick Lamar, SZA",False
6317,2019,Record of the Year,All the Stars,"Kendrick Lamar (artist), SZA (artist), Al Shux...",False

In [28]:
# 3. Kendrick Lamar
kendrick_nominations = len(kendrick_lamar['winner'])
kendrick_wins = len(kendrick_lamar[ kendrick_lamar['winner'] == True ])

print("Kendrick Lamar - Grammys History")
print("Nominations:", kendrick_nominations)
print("Wins:", kendrick_wins)

Kendrick Lamar - Grammys History
Nominations: 20
Wins: 11

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.