# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 

print('Krista U. Singh')

Krista U. Singh

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
# Load data here
df = pd.read_csv('/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/listings.csv')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [4]:
# 1. How many listings are there with a price less than 100? 

select_condition = df['price'] < 100

df_cheap = df[select_condition].copy()

len(df_cheap)

22778

In [5]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

select_condition_bk = df['neighbourhood_group'] == 'Brooklyn'

df_bk = df[select_condition_bk].copy()

len(df_bk)

18632

In [6]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
condition1 = df['price'] < 100
condition2 = df['neighbourhood_group'] == 'Brooklyn'

df_bk_cheap = df[condition1 & condition2]

len(df_bk_cheap)

10473

In [7]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

hosts = ['Michael', 'David', 'John', 'Daniel']

condition = df.host_name.isin(hosts)

df[condition]['host_name'].value_counts()

host_name
Michael    387
David      348
John       270
Daniel     253
Name: count, dtype: int64

In [8]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

condition_williamsburg = df['neighbourhood'] == 'Williamsburg'

df['adjusted_price'] = np.where(condition_williamsburg, df['price']+100, df['price'])

df.head(20)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,175
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,75
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,60
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,175
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,65
5,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.89,1,0,75
6,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,140,1,161,2019-07-29,1.21,4,274,140
7,5552,Spacious river view in the West Village,8380,Maria,Manhattan,West Village,40.73552,-74.01042,Entire home/apt,160,3,66,2019-08-10,0.49,1,178,160
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344,88
9,6021,Wonderful Guest Bedroom in Manhattan CENTRAL PARK,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,123,2019-12-09,0.90,1,365,85
10,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,65,30,29,2020-07-25,0.22,1,197,65
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0,209
12,6990,UES Beautiful Blue Room / 2 Bedrooms,16800,Cyn,Manhattan,East Harlem,40.78962,-73.94802,Entire home/apt,239,4,233,2019-12-09,1.77,1,365,239
13,7097,Perfect for Your Parents + Garden; Germ-Free,17571,Jane,Brooklyn,Fort Greene,40.69121,-73.97277,Entire home/apt,182,1,229,2020-07-20,1.78,2,325,182
14,7750,2 Furnished bedrooms next to Central Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Private room,96,14,0,NaN,NaN,2,178,96
15,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,337,399
16,8490,"MAISON DES SIRENES1,bohemian apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.68371,-73.94028,Entire home/apt,120,2,115,2020-08-13,0.86,2,319,120
17,8505,Sunny Bedroom Across Prospect Park,25326,Gregory,Brooklyn,Windsor Terrace,40.65599,-73.97519,Private room,135,1,23,2019-10-14,0.84,2,89,135
18,8700,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Claude & Sophie,Manhattan,Inwood,40.86754,-73.92639,Private room,86,4,0,NaN,NaN,1,0,86
19,9657,Modern 1 BR / NYC / EAST VILLAGE,21904,Dana,Manhattan,East Village,40.72920,-73.98542,Entire home/apt,220,3,33,2019-11-11,0.25,1,90,220

In [9]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  


df.room_type.value_counts(normalize=True)

room_type
Entire home/apt    0.515787
Private room       0.454446
Shared room        0.021213
Hotel room         0.008554
Name: proportion, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [10]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
count_listings = df.groupby('neighbourhood_group').size()

count_listings

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [11]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
mean_neighborgroup = df.groupby('neighbourhood_group')

mean_neighborgroup['price'].mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [12]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
mean_room = df.groupby('room_type')

mean_room['price'].mean()

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [13]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

min_max_neighbor = df.groupby('neighbourhood_group')

min_max_neighbor['price'].agg(['min', 'max'])

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [14]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
gb_cols = ['room_type', 'neighbourhood_group']

mean_room_neighbor = df.groupby(gb_cols)

mean_room_neighbor['price'].mean()

room_type        neighbourhood_group
Entire home/apt  Bronx                  138.004819
                 Brooklyn               171.587687
                 Manhattan              231.335572
                 Queens                 150.168900
                 Staten Island          151.720930
Hotel room       Brooklyn               147.300000
                 Manhattan              292.515670
                 Queens                 139.058824
Private room     Bronx                   68.419668
                 Brooklyn                71.291189
                 Manhattan              128.277069
                 Queens                  69.972564
                 Staten Island           70.312883
Shared room      Bronx                   66.391304
                 Brooklyn                57.870091
                 Manhattan              111.735084
                 Queens                  89.891892
                 Staten Island           46.000000
Name: price, dtype: float64

In [15]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.


gb_cols = ['room_type', 'neighbourhood_group']

mean_room_neighbor = df.groupby(gb_cols)

mean_room_neighbor['price'].agg(['count', 'min', 'max', 'mean', 'median', 'std'])

                                     count  min    max        mean  median  \
room_type       neighbourhood_group
Entire home/apt Bronx                  415   25   1404  138.004819   103.0
                Brooklyn              9112   20  10000  171.587687   135.0
                Manhattan            12209    0  10000  231.335572   165.0
                Queens                2090   10  10000  150.168900   115.0
                Staten Island          172   39   1200  151.720930   111.0
Hotel room      Brooklyn                30    0    399  147.300000   129.0
                Manhattan              351    0   2211  292.515670   210.0
                Queens                  17    0    249  139.058824   149.0
Private room    Bronx                  722   16    700   68.419668    55.0
                Brooklyn              9159   10   2500   71.291189    60.0
                Manhattan             7601   10  10000  128.277069    80.0
                Queens                3499   18   9000   69.972564    55.0
                Staten Island          163   20    800   70.312883    55.0
Shared room     Bronx                   46   20    800   66.391304    44.0
                Brooklyn               331   15   1500   57.870091    36.0
                Manhattan              419   10  10000  111.735084    60.0
                Queens                 185   14   3000   89.891892    40.0
                Staten Island            6   19     82   46.000000    38.0

                                            std
room_type       neighbourhood_group
Entire home/apt Bronx                126.032106
                Brooklyn             236.732843
                Manhattan            410.306439
                Queens               252.606739
                Staten Island        147.518392
Hotel room      Brooklyn              91.153206
                Manhattan            315.924085
                Queens                50.743806
Private room    Bronx                 57.337866
                Brooklyn              69.023165
                Manhattan            448.677306
                Queens               163.814468
                Staten Island         70.759593
Shared room     Bronx                114.442703
                Brooklyn              92.217618
                Manhattan            502.728868
                Queens               275.675158
                Staten Island         28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [16]:
# 1. Load the `prices.csv` and the `n_listings.csv`
prices_df = pd.read_csv('/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/prices.csv')
listings_df = pd.read_csv('/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/n_listings.csv', sep=";")

In [17]:
# 2. Do join that keeps all the records for each table.

merged_df = pd.merge(prices_df, listings_df, on='neighbourhood_group', how='outer')

print(merged_df)

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

In [18]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
save_as = '/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/joined.csv'

merged_df.to_csv(save_as, index=False)

In [19]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`
df_merged = pd.read_csv('/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/joined.csv')

df_merged

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.