# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [4]:
# Import here.
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [5]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = '../data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)
df_food.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

### Explore the Data

How much data did you just load?

In [6]:
# Count by hand. (lol kidding)
df_food.shape

(125, 61)

What are the columns and their types in this data set?

In [7]:
# Show the column names and their types.
df_food.dtypes

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [8]:
# Remove ‚Äòem.
interested_cols= ['calories_day', 'weight', 'Gender']
df_new = df_food[interested_cols].copy()
df_new.head()

   calories_day                    weight  Gender
0           NaN                       187       2
1           3.0                       155       1
2           4.0  I'm not answering this.        1
3           3.0             Not sure, 240       1
4           2.0                       190       1

What about `NaN`s? How many are there?

In [9]:
# Count ‚Äòem.
total_nan= df_new.isna().sum().sum()
print(total_nan)
df_new.head()

21

   calories_day                    weight  Gender
0           NaN                       187       2
1           3.0                       155       1
2           4.0  I'm not answering this.        1
3           3.0             Not sure, 240       1
4           2.0                       190       1

We gotta remove those `NaN`s‚Äïthe entire row.

In [32]:
# Drop ‚Äòem.
df_new= df_new.dropna()
df_new.head()

   calories_day  weight  Gender
1           3.0   155.0       1
4           2.0   190.0       1
5           3.0   190.0       1
6           3.0   180.0       2
7           3.0   137.0       1

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [33]:
# Fix that.

df_new['weight'] =pd.to_numeric(df_new['weight'], errors= 'coerce')
df_new = df_new.dropna(subset=['weight'])
df_new.head()

   calories_day  weight  Gender
1           3.0   155.0       1
4           2.0   190.0       1
5           3.0   190.0       1
6           3.0   180.0       2
7           3.0   137.0       1

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [38]:
# Savey save!
df_new.to_csv("../data/cleaned_food.csv")

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [91]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).
df_salary = pd.read_csv('../data/ask_a_manager_salary_survey_2021_Responses.tsv', sep="\t")

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [92]:
# Count by hand. I‚Äôm dead serious.
df_salary.shape

(28062, 18)

What are the columns and their types?

In [93]:
# Show the column names and their types.
df_salary.dtypes

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [94]:
# Rename ‚Äòem.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race
df_salary = df_salary.rename(columns= {"How old are you?": "age", "What industry do you work in?":"industry","Job title": "title", "If your job title needs additional context, please clarify here:": "title_context","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)": "salary", "How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.": "additional_compensation", 
                                       "Please indicate the currency": "currency", 'If "Other," please indicate the currency here: ': 'currency_other', 'If your income needs additional context, please provide it here:' : 'salary_context', 
                                         'What country do you work in?': 'country', "If you're in the U.S., what state do you work in?": 'state', 'What city do you work in?': 'city', 'How many years of professional work experience do you have overall?': 'total_yoe', 'How many years of professional work experience do you have in your field?': 'field_yoe',
                                          'What is your highest level of education completed?': 'highest_education_completed', 'What is your gender': 'gender', 'What is your race? (Choose all that apply.)': 'race' } )

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [95]:
# List the unique industries and a count of their instances.
df_salary['industry'].value_counts()

industry
Computing or Tech                        4699
Education (Higher Education)             2464
Nonprofits                               2419
Health care                              1896
Government and Public Administration     1889
                                         ...
Warehousing                                 1
Education (Early Childhood Education)       1
SAAS                                        1
Health and Safety                           1
Aerospace Manufacturing                     1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [96]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
df_salary_tech = df_salary[df_salary['industry'].isin(['Computing or Tech'])]

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [97]:
# Sanity Check 

df_salary_tech.head()

,Timestamp,age,industry,title,title_context,salary,additional_compensation,currency,currency_other,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,What is your gender?,race
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [98]:
# Filtery filter for just the jobs that pay in USD!
df_salary_tech = df_salary_tech[ df_salary_tech["currency"].isin(["USD"]) | 
    df_salary_tech["currency_other"].isin(["USD"])]
df_salary_tech.head()

,Timestamp,age,industry,title,title_context,salary,additional_compensation,currency,currency_other,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,What is your gender?,race
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
47,4/27/2021 11:04:09,35-44,Computing or Tech,Product Design Director,NaN,"200,850",40000.0,USD,NaN,NaN,USA,North Carolina,Chapel Hill,11 - 20 years,11 - 20 years,College degree,Woman,White

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [99]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.
df_salary_tech['country'].value_counts()

country
United States               1576
USA                         1222
US                           413
U.S.                         108
United States of America      90
                            ...
Ghana                          1
Nigeria                        1
ss                             1
Nigeria                        1
Burma                          1
Name: count, Length: 76, dtype: int64

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [100]:
# Replace them all with 'US'. 
df_salary_tech['country'] = df_salary_tech['country'].replace({'USA':'US', 'United States': 'US', 'U.S.': 'US', 'United States of America': 'US'})

Have a look at the count of each unique country again now.

In [101]:
# Count again.
df_salary_tech['country'].value_counts()

country
US                3409
United States       68
Usa                 59
USA                 56
usa                 28
                  ...
Ghana                1
Nigeria              1
ss                   1
Nigeria              1
Burma                1
Name: count, Length: 72, dtype: int64

Did you notice anything interesting?

In [24]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

In [25]:

# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [102]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.
from numpy import mean

df_salary_tech[df_salary_tech['currency'] =='USD'].groupby('state')['salary'].agg(['min', 'max', 'mean'])

TypeError: agg function failed [how->mean,dtype->object]

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [109]:
# Fix it.
# df_salary_tech["salary"] = (
#     df_salary_tech["salary"].astype(str).pipe(pd.to_numeric, errors="coerce")
# )
df_salary_tech['salary']= df_salary_tech['salary'].astype(str)
df_salary_tech['salary']= df_salary_tech['salary'].str.replace(r"[,$‚Ç¨¬£]", "").pipe(pd.to_numeric, errors= 'coerce')

Let‚Äôs try that again.

In [110]:
# Try it again. Yeah!
df_salary_tech[df_salary_tech['currency'] =='USD'].groupby('state')['salary'].agg(['min', 'max', 'mean'])

                                    min       max           mean
state
Alabama                         35000.0  350000.0  117400.000000
Alabama, District of Columbia       NaN       NaN            NaN
Alabama, Montana                    NaN       NaN            NaN
Alaska                              NaN       NaN            NaN
Arizona                         35000.0  145000.0   97833.333333
...                                 ...       ...            ...
Vermont                         91250.0  120000.0  105625.000000
Virginia                        58750.0  378000.0  115086.696970
Washington                         72.0  300000.0  136923.916667
West Virginia                  120000.0  120000.0  120000.000000
Wisconsin                           1.0  920000.0  145806.888889

[66 rows x 3 columns]

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [116]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.
df_salary_tech.head(
)

df_salary_tech['Timestamp'] = pd.to_datetime(df_salary_tech['Timestamp'], errors = 'coerce')

df_recent = df_salary_tech[df_salary_tech['Timestamp'].dt.year.isin([2021, 2022, 2023])].copy()
df_recent[df_recent['currency'] =='USD'].groupby('state')['salary'].agg(['min', 'max', 'mean'])

                                    min       max           mean
state
Alabama                         52000.0  350000.0  138000.000000
Alabama, District of Columbia       NaN       NaN            NaN
Alabama, Montana                    NaN       NaN            NaN
Alaska                              NaN       NaN            NaN
Arizona                         35000.0  145000.0   97833.333333
...                                 ...       ...            ...
Vermont                         91250.0  120000.0  105625.000000
Virginia                        58750.0  378000.0  115086.696970
Washington                         72.0  300000.0  137427.774648
West Virginia                  120000.0  120000.0  120000.000000
Wisconsin                           1.0  920000.0  145806.888889

[66 rows x 3 columns]

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)